<!-- Order ID -->
<div>
    <label for="orderID">Order ID: </label>
    <input type="text" id="orderID" name="orderID" value={{this.orderID}}>
</div>

<!-- Product ID -->
<div>
    <label for="productID">Product ID: </label>
    <input type="text" id="productID" name="productID" value={{this.productID}}>
</div>

<!-- Quantity -->
<div>
    <label for="quantity">Quantity: </label>
    <input type="text" id="quantity" name="quantity" value={{this.quantity}}>
</div>

<!-- Submit Button -->
<div>
    <button type="submit">Submit</button>
</div>