<!-- Product Name -->
<div>
    <label for="productName">Product Name: </label>
    <input type="text" id="productName" name="productName" value={{this.productName}}>
</div>

<!-- Price -->
<div>
    <label for="price">Price: </label>
    <input type="text" id="price" name="price" value={{this.price}}>
</div>

<!-- Publisher -->
<div>
    <label for="publisher">Publisher: </label>
    <input type="text" id="publisher" name="publisher" value={{this.publisher}}>
</div>

<!-- Genre -->
<div>
    <label for="genre">Genre: </label>
    <input type="text" id="genre" name="genre" value={{this.genre}}>
</div>

<!-- Submit Button -->
<div>
    <button type="submit">Submit</button>
</div>