{{!-- Form to edit an existing customer --}}
<h3>Edit Customer</h3>

{{!-- Create a form for each row. In this case, we will have just 1. --}}
{{#each rows}}
<form id="editCustomerForm" method="POST" action="/customers/editCustomer/{{this.customerID}}">
    {{> customerForm}}
</form>
{{/each}}