{{!-- Form to edit an existing order detail --}}
<h3>Edit Order Detail</h3>

{{!-- Create a form for each row. In this case, we will have just 1. --}}
{{#each rows}}
<form id="editOrderDetailForm" method="POST" action="/orderDetails/editOrderDetail/{{this.orderID}}{{this.productID}}">
    {{> orderDetailForm}}
</form>
{{/each}}