<h3>Edit Product</h3>

{{!-- Creates a form for each value in rows. Only 1 because updating 1. --}}
{{#each rows}}
<form id="editProductForm" method="POST" action="/products/editProduct/{{this.productID}}">
    {{> productForm}}
</form>
{{/each}}