<h1>Game Store Database UI</h1>

<div>
    <a href="./customers">Customers</a>
</div>
<div>
    <a href="./products">Products</a>
</div>
<div>
    <a href="./orders">Orders</a>
</div>
<div>
    <a href="./reviews">Reviews</a>
</div>
<div>
    <a href="./orderDetails.html">OrderDetails</a>
</div>